@import 'tailwindcss';

@theme {
  --color-main: #654153;
  --color-main-2: #e9a649;
}

* {
  box-sizing: border-box;
  color: var(--color-main);
  transition: 300ms;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  background: #eeeeee;
}
